.top-3 {
    width: 200px;
    height: 200px;
}

#header {
    width: 400px;
    margin: 0 auto;
    background-color: rgba(124, 0, 0, 0.575);
    text-align: center;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 400px;
    height: 100px;
    margin: auto;
    text-align: center;
    background-color: darkred;
}